{% extends 'task_app/base.html' %}
{% block title %} ホーム | メモセロ {% endblock %}
{% block content %}

<div class="min-vh-100 d-flex flex-column">
  <main class="flex-grow-1">
    <div class="container py-4">
      <h1 class="text-center mb-4">メモセロへようこそ</h1>
      <div class="row justify-content-center">
        <div>
          <a href="{% url 'add_task' %}" class="add-task">新しいタスクを追加する</a>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <p>問題一覧</p>
              <table border="5" class="table table-bordered">
                <tr>
                    <th>問題名</th>
                    <th>前に解いた日</th>
                    <th>理解度</th>
                    <th>カテゴリー</th>

                </tr>
                {% for task in tasks %} <!-- views.pyで格納したデータを展開。for文で1つずつ取り出す-->
                <tr>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.solved_latest_date }}</td>
                    <td>{{ task.understanding_status }}</td>
                    <td>{{ task.category_id }}</td>
                    <td><a href="{% url 'edit_task' task.id %}" class="create-btn">編集</a></td>
                    <td><a href="{% url 'delete_task' task.id %}" class="create-btn">削除</a></td>
                    <td><a href="{% url 'solve_task' task.id %}" class="create-btn">解く</a></td>
                </tr>
                {% endfor %}
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="py-3 bg-light">
    <div class="container">
      <nav class="d-flex justify-content-center">
        <ul class="list-unstyled mb-0 d-flex gap-3">
          <li><a href="{% url 'privacy' %}" class="text-decoration-none text-secondary">プライバシーポリシー</a></li>
          <li><a href="{% url 'rules' %}" class="text-decoration-none text-secondary">利用規約</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
{% endblock%}